<section style="background-color: #d9534f;">
    <div><a id="goBackIndex" href="javascript:;">返回</a></div>
    <div>我是list页面</div>
    <ul class="list-li" id="goDetail">
        <li><a href="javascript:;" userid="1" username="zhang">zhang</a></li>
        <li><a href="javascript:;" userid="2" username="zhang1">zhang1</a></li>
        <li><a href="javascript:;" userid="3" username="zhang2">zhang2</a></li>
        <li><a href="javascript:;" userid="4" username="zhang3">zhang3</a></li>
    </ul>
</section>